@model List<Product>


<div class="container">
    <ul>
        @foreach (Product Product in Model)
        {
            <a href="/categories/@Product.ProductId">@Product.Name</a>
        }
    </ul>
</div>