
<div class="container">
    <ul>
        @foreach (Product Product in @ViewBag.AllProducts)
        {
            <a href="/products/@Product.ProductId">@Product.Name</a>
        }
    </ul>
</div>

