@model List<Category>

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_NewCategory" />
        </div>
        <div class="col">
            <partial name="_AllCategories" />
        </div>
    </div>
</div>