@model Category

<h1>@Model.Name</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_CategoryProducts"></partial>
        </div>
        <div class="col">
            <partial name="_AddProducts"></partial>
        </div>
    </div>
</div>