@model Category

<h1>@Model.Name</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <ul>
                    @foreach (Association a in Model.Associations)
                    {
                        <li>@a.Product.Name</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <form asp-action="AddProds" asp-route-categoryId=@Model.CategoryId>
                    <select name="ProductId">
                        @foreach (Product Product in ViewBag.UnrelatedProds)
                        {
                            <option value="@Product.ProductId">@Product.Name</option>
                        }
                    </select>
                    <button>Add</button>
                </form>
            </div>
        </div>
    </div>
</div>