@model Product

<h1>@Model.Name</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <partial name="_ProductCategories"></partial>
        </div>
        <div class="col">
            <partial name="_AddCategories"></partial>
        </div>
    </div>
</div>