@model Product

<h1>@Model.Name</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <ul>
                    @foreach (Association a in Model.Associations)
                    {
                        <li>@a.Category.Name</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col">
                <form asp-action="AddCats" asp-route-productId=@Model.ProductId method="POST">
                    <select name="CategoryId">
                        @foreach (Category cat in ViewBag.UnrelatedCats)
                        {
                            <option value="@cat.CategoryId">@cat.Name</option>
                        }
                    </select>
                    <button>Add</button>
                </form>
        </div>
    </div>
</div>